#mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  #mobile-menu.show {
    transform: translateX(0);
  }
 
  h1, h2{
    font-family:EBGaramond;
  }
  p{
    font-family: jost;
  }
  ul li{
    font-family: jost;
  }
/* Slider */
@media only screen and (max-width: 600px) {
  .splide__arrow {
      display: none !important;
  }

}



@media only screen and (max-width: 600px) {
  .splide {
      height: 400px !important;
  }

}

.splide__arrow {
  background-color: #e97387 !important;
  top: 40% !important;
}

.splide__arrow svg {
  fill: #fff !important;
}

.splide__pagination__page {
  background-color: #ffffff !important;
}

.splide {
  height: 800px !important;
}

.splide:not(.is-overflow) .splide__pagination {
  display: flex !important;
}

.clip-path-right-top {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}
/* slider css ends */
  

